# CMake and build directories
build/
bin/
bin-int/

# Visual Studio files
.vs/
**/*.user
**/*.sln
**/*.vcxproj
**/*.filters

# VS Code settings (optional)
# .vscode/

# Other temporary or compiled files
*.exe
*.obj
*.pdb